body {
  width: 1420px;
  height: 100%;
}

.gallery-item {
  list-style: none;

}

.gallery-image:hover {
  transform: scale(1.04);
}

.gallery {
  margin: 0;
  padding: 24px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.gallery-image {
  width: 340px;
  height: 180px;
}